env
venv
.idea
spintax_app/spintax_app/.env

db.sqlite3

main.py
ruf.py
ruf1.py
ruf2.py
ruf3.py
ruf4.py
ruf5.py
thread.py
thread1.py
zip.py


decorators1.py
decorators2.py
decorators3.py
decorators4.py
decorators5.py



README.md
