{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'media/illustrations/sketchy-1/14-dark.png' %}">
      <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'core:home' %}" class="mb-12">
          <img alt="Logo" src="{% static 'img/logo.png' %}" class="h-40px" />
        </a>
        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <h1 class="text-center mb-5">{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed, Successfully!' %} <a href="{% url 'account_login' %}">Click here to Login</a> </p>
        </div>
      </div>
  
      <!--begin::Footer-->
      <div class="d-flex flex-center flex-column-auto p-10">
        <!--begin::Links-->
        {% include 'account/snippets/footer_extra.html' %}
      </div>
      <!--end::Footer-->
    </div>
  </div>

{% endblock %}


