{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'media/illustrations/sketchy-1/14-dark.png' %}">
      <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'core:home' %}" class="mb-12">
          <img alt="Logo" src="{% static 'img/logo.png' %}" class="h-40px" />
        </a>
        <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
          <form class="form w-100"  method="POST" action="{% url 'account_reset_password' %}"> 
            {% comment %} novalidate="novalidate" id="kt_sign_in_form"  {% endcomment %}
            {% csrf_token %}
            <div class="text-center mb-10">
              <h1 class="text-dark mb-3">Forgot Password ?</h1>
                <div class="text-gray-400 fw-bold fs-4">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </div>
            </div>
            <div class="fv-row mb-10">
              {{ form | crispy }}
            </div>
            <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
              <span class="indicator-label">Reset Password</span>
              <span class="indicator-progress">Please wait...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
          </form>
        </div>
      </div>
  
      <!--begin::Footer-->
      <div class="d-flex flex-center flex-column-auto p-10">
        <!--begin::Links-->
        {% include 'account/snippets/footer_extra.html' %}
      </div>
      <!--end::Footer-->
    </div>
  </div>
  {% endblock %}

  {% block extrabody %}

  <script type="text/javascript">
    submitButton = document.querySelector('#kt_sign_in_submit');
    submitButton.addEventListener('click', function () {
    submitButton.setAttribute('data-kt-indicator', 'on');
  
  });
  </script> 
  
  {% endblock extrabody %}


