{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'media/illustrations/sketchy-1/14-dark.png' %}">
      <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <a href="{% url 'core:home' %}" class="mb-12">
          <img alt="Logo" src="{% static 'img/logo.png' %}" class="h-40px" />
        </a>
        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
            <h1 class="text-center mb-5">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% else %}
            <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            {% endif %}

        </div>
      </div>
  
      <!--begin::Footer-->
      <div class="d-flex flex-center flex-column-auto p-10">
        <!--begin::Links-->
        {% include 'account/snippets/footer_extra.html' %}
      </div>
      <!--end::Footer-->
    </div>
  </div>

{% endblock %}