
{% extends "base.html" %}
{% load static %}

{% block head_title %}Maintenance Mode{% endblock head_title %}

{% block content %}
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid">
        <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
            <a href="{% url 'core:home' %}" class="mb-12">
                <img alt="Logo" src="{% static 'img/logo.png' %}" class="h-40px" />
            </a>
            <div class="pt-lg-10 mb-10">
                <h1 class="fw-bolder fs-2qx text-white mb-10">Site is Under Maintenance</h1>
                {% comment %} <div class="fw-bold fs-3 text-muted mb-15"> {% endcomment %}
                {% comment %} <br />Please try again later.</div> {% endcomment %}
            </div>
            <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url({% static 'media/illustrations/sketchy-1/17.png' %}"></div>
            <!--end::Illustration-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Authentication - Error 500-->
</div>
{% endblock %}


{% block extrabody %}



{% endblock extrabody %}


