{% load static %}

 <script src="{% static 'plugins/global/plugins.bundle.js'  %}"></script>
 <script src="{% static 'js/scripts.bundle.js'  %}"></script>


 <script src="{% static 'plugins/custom/formrepeater/formrepeater.bundle.js' %}"></script>
 <script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
 <script src="{% static 'js/custom/apps/ecommerce/catalog/products.js' %}"></script>
 <script src="{% static 'js/widgets.bundle.js' %}"></script>
 <script src="{% static 'js/custom/widgets.js' %}"></script>
 <script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
 <script src="{% static 'js/custom/intro.js' %}"></script>
 <script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
 <script src="{% static 'js/custom/utilities/modals/create-app.js' %}"></script>
 <script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
 
